:root {
  --primary: hsl(68, 96%, 62%);
  --secondary: #256aae;
  --light: #0ae01f;
  --dark: #4b77a2;
}

.typed-cursor {
  font-size: 25px;
  color: var(--light);
}

.back-to-top {
  position: fixed;
  display: none;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1;
  font-size: 30px;
  right: 30px;
  bottom: 30px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  color: var(--primary);
}

.back-to-top i:hover {
  color: var(--dark);
}

.back-to-top {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}

.title {
  position: relative;
  color: yellow;
}

.title::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  bottom: -4px;
  left: 30px;
  border: 2px solid var(--light);
  border-radius: 10px;
}

.title::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  bottom: 0;
  left: 0px;
  border-radius: 2px;
  background: var(--light);
}

#contact > form > div > div:nth-child(5) > button {
  color: black;
}

#contact > form > div > div:nth-child(5) > .btn-primary {
  background-color: yellow;
}

body
  > div
  > div
  > div.col-lg-4.sticky-lg-top.vh-100
  > div
  > div.d-flex.align-items-end.justify-content-center
  > a {
  color: yellow;
}
